In [1]:
#count no.of digits in the given string
#input:"python123is456good789"
#output:9

In [ ]:
#for loop
#1.using range()
#2.using iterable object

In [7]:
s=input()
i=0
count=0
while i<len(s):
    if s[i].isdigit():
        count += 1
    i += 1
print(count)

python123is456good789
9

In [1]:
s=input()
i=0
count=0
sum = 0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sumof digits is:",sum)

python123is456good789
count is: 9 sumof digits is: 45

In [2]:
n=int(input("enter a number"))
for i in range(2,n+1,2):
    print(i,end=" ")

enter a number20
2 4 6 8 10 12 14 16 18 20

In [5]:
#input:python
#output:p y t h o n
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
        print(s[i],end=" ")
print()
for i in s:
        print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

##collection type data type
###list:
1.for creating a list use[]
2.list are mutual
3.list are indexed
4.list are ordered
5.list allows duplicate values
6.it shores heterogenous values

In [13]:
list1 = [23,34,456,56,67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56]
gnirts
3

In [14]:
#manipulating a list
#1.Adding elements
list1 = [34,45,56,57]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 56, 57]
after adding elements: [34, 45, 56, 57, 100, 200, 300]

In [15]:
list1.extend([1,2,3])
print(list1)

[34, 45, 56, 57, 100, 200, 300, 1, 2, 3]

In [23]:
list1.insert(1,16)
print(list1)

[34, 16, 45, 56, 57, 100, 200, 300, 1, 2, 3]

In [24]:
#removing elements from the list
#list1.pop(5)
#list1.remove()
list1.clear()
print(list1)

[]

In [ ]:
#replacing an element

In [27]:
#sorting a list
list1 = [34,55,78,7,45,2,47] 
list1.sort(reverse = True)
list1

[78, 55, 47, 45, 34, 7, 2]

In [29]:
list1.index(78)

0

In [31]:
list1.count(45)

1

In [32]:
list1

[78, 55, 47, 45, 34, 7, 2]

In [35]:
list1.append("phython")
list2 = list1
print(list1," ",list2)

[78, 55, 47, 45, 34, 7, 2, 'phython']   [78, 55, 47, 45, 34, 7, 2, 'phython']

In [38]:
print(list1,list2)
list1.append(100)
print(list1,list2)

[78, 55, 47, 45, 34, 7, 2, 'phython', 100] [78, 55, 47, 45, 34, 7, 2, 'phython', 100]
[78, 55, 47, 45, 34, 7, 2, 'phython', 100, 100] [78, 55, 47, 45, 34, 7, 2, 'phython', 100, 100]

In [40]:
#input : [2,4,5,7,8]
#output : [4,16,25,49,64]list of squares od elemets of thde previous list
list5 = [2,4,5,7,8]
list6 = []
list7 = []
for i in range(len(list5)):
    list6.append(list5[i]*list5[i])
print(list6)
for i in list5:
    list7.append(i**3)
print(list7)

[4, 16, 25, 49, 64]
[8, 64, 125, 343, 512]

In [43]:
list8 = []
n = int(input())
for i in range(n):
    list8.append(int(input()))
a = sum(list8)
print(a)

1
2

TypeError: 'int' object is not callable

In [45]:
list9 = []
for i in list5:
    if i%3==0:
        list9.append(i)
print(list9)

[]

In [46]:
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [47]:
tup1 = (23,24,25)
x,y,z = tup1
print(x,y,z)

23 24 25

In [ ]:
###dictionary
####syntax : {key1:value1,key2:value2,.....}
#### key:
1.key should be unique
2.key should be immutable-->int,float,string,tuple

In [2]:
dict1 = {"name":"preeti","course":"python","address":"hyd"}
dict1["course"]

'python'

In [5]:
#replace values
dict1["course"] = "c programming"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', 'ollege': 'gitam'}

In [6]:
#Adding entry
dict1["college"] = "gitam"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', 'ollege': 'gitam', 'college': 'gitam'}

In [7]:
##removing entry
del dict1["address"]
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'ollege': 'gitam', 'college': 'gitam'}

##function:
####def name_of_the_function(arg list):
####   statements
#### return

In [8]:
def add(x,y):#function defination
    print(x+y)
print(add(10,20))#functioncalling
print(add(100,200))

30
None
300
None

In [9]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27